/* reset */
* {
  margin: 0;
}

/* header */
header {
  background-color: lightblue;
  background-image: url("../img/pattern.png");
  background-size: 350px;
}

.container {
  width: 1024px;
  margin: auto;
}

.logo {
  margin-top: 30px;
  height: 50px;
}
/* fine header */

/* main */
main {
  margin-top: 20px;
}

h1 {
  font-size: 36px;
  line-height: 37px;
}

.author {
  color: gray;
  font-size: 20px;
}

.author span {
  color: lightblue;
}

.date {
  color: gray;
  font-size: 13px;
}

.photo {
  margin-top: 20px;
}

.caption {
  font-size: 10px;
}
/* fine main */
